*, *::before, *::after{box-sizing: border-box;}
.c{
    padding:2px;
    background-color:aliceblue;
    border:5px;
    border-collapse: collpase;
    width:60px;
    height:50px;

}
table,th{


    padding:2px;
    background-color:aliceblue;
    border:5px;
    border-collapse: collapse;
    width:60px;
    height:50px;

}